body {
    background-image: url(../../assets/images/mos-eisley.jpg);
    padding-top:10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }

  #solo, #trooper, #R2, #luke { 
    background-color: Transparent;
    background-repeat:no-repeat;
    background-height: 300px;
    border-size: 5px;
    border: lightcoral;
    cursor:pointer;
    overflow: hidden;        
}
