body {
    background-image: url(../../assets/images/mos-eisley.jpg);
    padding-top:10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  
  }
  
  h1, h2, h5 {
    color: white;
    
  }

  #arena {
    color: white;
    font-weight: bolder;
    font-size: 40px;
  }

   #choose {
       border: none;
       border-color: rgba(169,169,169);
       text-align: center;
    }


  div {
    padding: 5px;
    margin: 5px;
    border: none;
    border-color:white;
  }

  img {
    border: 0px;
    border-radius: 3px;
    padding: 5px;
  }

  /* #choose {
    border: solid;
    color: purple;
  } */

  #enemy-character, #user-character {
    border: none;
    border-color: blue;
  }

  #attack-area {
    border: none;
    border-color: hotpink;
  }

  #characters-area {
    text-align: center;
    border: none;
    border-color: peachpuff;
    position: relative;
  }

  /* #main-wrapper {
    background-color:rgba(0, 0, 0, 0.3);;
  } */

  #characters-moved {
    text-align: center;
    bottom: 0%;
    position: relative;
    border: none;
    border-color: antiquewhite;
     
  }

  #solo, #luke, #droid, #trooper, #greedo { 
    background-color: Transparent;
    background-repeat:no-repeat;
    border: lightcoral;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-weight: bolder;
  }
