body {
    background-image: url(../../assets/images/mos-eisley.jpg);
    padding-top:10px;
    background-size: cover;
  }

  /* .button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: lightcoral;
    cursor:pointer;
    overflow: hidden;        
} */
